{% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="message message--{{ message.level_tag }}">{{ message }}</div>
      {% endfor %}
    </div>
{% endif %}