{% extends "base.html" %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}

  {% if form.errors %}
    <div class="messages">
      <div class="message message--warning">Nom d'utilisateur ou mot de passe incorrect</div>
    </div>
  {% endif %}

  <section>
    <div class="col col--2 col--full full-height">
      <div class="container">
        <article>
          <h1 class="title--h2">Se connecter directement avec votre compte :</h1>
          {% include 'includes/form.html' with form=form submit='Se connecter' method="post" %}

        </article>
      </div>
    </div>
  </section>

{% endblock %}
