{% extends 'base.html' %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}

  <section>
    <div class="col col--2 col--full full-height">
      <div class="container">
        <article>
          <h1 class="title--h2">{% trans 'Mot de passe oublié ?' %}</h1>
          {% include 'includes/form.html' with form=form submit='Envoyer' method="post" %}
        </article>
      </div>
      <div class="radar-container bg--gradient">
      </div>
    </div>
  </section>

{% endblock %}
