{% extends "base.html" %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}
  <section>
    <div class="col col--2 col--full full-height">
      <div class="container">
        <article>
          <h2 class="title--h2">Créer un compte</h2>

          {% include 'includes/form.html' with form=form submit="Créer votre compte" method="post" %}
        </article>
      </div>
    </div>
  </section>

{% endblock %}
