{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/HTML" lang="fr" xml:lang="fr">
<html lang="fr">
  <head>
    <!-- Title -->
    <title>JOBBOARD</title>

    <!-- Required Meta Tags Always Come First -->

  </head>


  <body>
    {% include "includes/header.html" %}
    <main class="full-height">
      {% block content %}

      {% endblock %}
    </main>
    {% include "includes/footer.html" %}

    {% block scripts %}

    {% endblock %}
  </body>
</html>