{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="bg--gradient" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <section class="container full-height">
    <div class="col col--13-23">
      <header>
        <h1 class="title--h1">Conditions Générales d'Utilisation</h1>
      </header>
    </div>
    <div class="card">
      <div class="col col--14-34">
        <div>
          <div class="bg--primary color--white padding">Préambule</div>
          <div class="bg--primary color--white padding">Définitions</div>
          <div class="bg--primary color--white padding">Accès à la plateforme et acceptation des CGU</div>
          <div class="bg--primary color--white padding">Inscription à la plateforme</div>
          <div class="bg--primary color--white padding">Engagements du Mixity User lors de son inscription</div>
          <div class="bg--primary color--white padding">Description des fonctionnalités de la plateforme</div>
          <div class="bg--primary color--white padding">Abonnements et prix</div>
          <div class="bg--primary color--white padding">Durée</div>
          <div class="bg--primary color--white padding">Rétractation</div>
          <div class="bg--primary color--white padding">Résiliation de l'organisation</div>
          <div class="bg--primary color--white padding">Désinscription de l'utilisateur</div>
          <div class="bg--primary color--white padding">Responsabilité</div>
          <div class="bg--primary color--white padding">Propriété intellectuelle</div>
          <div class="bg--primary color--white padding">Données à caractère personnel</div>
          <div class="bg--primary color--white padding">Litiges et droit applicable</div>

        </div>

        <div>
        <p>
            <strong>Préambule</strong><br>
                <p>Les présentes conditions générales d’utilisation (ci-après, les « ​ CGU ​ ») sont éditées par MIXITY, société par actions simplifiée au capital variable de 25.000 Euros, enregistrée au Registre du
    commerce et des sociétés de Nantes sous le numéro 849 373 023, dont le siège social est situé 6,
    rue Edouard Nignon, 44300 – Nantes, joignable à l’adresse email suivante : contact@mixity.co,
    dûment représentée par Sandrine CHARPENTIER, en sa qualité de Présidente et directrice de
    publication des présentes (ci-après, « ​ Mixity ​ »).
                <br></p>

                <p>« MIXITY » est une plateforme disponible sur le lien ​ www.mixity.co permettant à toute organisation
    d’évaluer, de piloter et de promouvoir l’impact de la mixité au sein de son organisation (ci-après, la
    « ​ Plateforme ​ »). Suite à la transmission de réponses spécifiques à un questionnaire
    d’auto-déclaration basé sur cinq thèmes (genre, handicap, multiculturel, multigénérationnel, LGBT+)
    transmis lors de l’inscription de l’utilisateur (ci-après, le « ​ Questionnaire ​ ») combinées avec un
    algorithme unique, la Plateforme permet de générer un référentiel unique (ci-après, le « ​ Référentiel ​ »)
    exprimant le degré de diversité dans son organisation via « l’empreinte Mixity » (ci-après,
    l’« ​ Empreinte ​ »).
                  <br></p>

                <p>La Plateforme est accessible aux utilisateurs suivants :</p>
                <p>   - Toute organisation souhaitant bénéficier de l’Empreinte aux fins d’évaluer, piloter et
    promouvoir l’impact de la mixité dans son organisation (ci-après, l’« ​ organisation ​ ») ; Pour ce
    faire, elle nomme un administrateur qui procède à la gestion de son compte utilisateur
      (ci-après, l’ « ​ Administrateur ​ ») ;</p>
                <p>   - Tout utilisateur souhaitant donner son propre avis sur l’empreinte du degré de diversité dans
    une organisation aux fins de participer à hauteur de 10% à l’Empreinte de l’organisation
      (ci-après, l’« ​ Utilisateur ​ »).</p>
                <br>
                <p>
      L’Administrateur, l’organisation comme l’Utilisateur déclarent avoir pris connaissance des CGU et les
    avoir acceptées avant toute inscription sur la Plateforme en cochant la case correspondante. Il est
    expressément convenu que les CGU régissent les modalités d’utilisation de la Plateforme.
              </p>
              <br>
    <p>Mixity se réserve le droit de modifier les CGU à tout moment, sous réserve naturellement d’en avoir
    préalablement notifié l’utilisateur qui s’engage à en prendre dûment connaissance. En cas de doute,
    l’utilisateur est invité à consulter le dernier document disponible sur la Plateforme.
    </p>
              <br>
    <p>Il est entendu que les présentes CGU font partie du contrat d’accord comprenant les modalités de
    mise à disposition de la Plateforme (ci-après, le « ​ Contrat d’accord ​ »), dont il constitue un ensemble
      contractuel unique.</p>
        </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 1 Définitions</strong><br>
            <p>Les termes définis ci-après, précédés d’une majuscule et pris indifféremment au singulier ou au
          pluriel, auront la signification suivante :</p>
          <br>
<p>« ​ Administrateur ​ » : désigne la personne physique désignée par l’organisation pour gérer le
  back-office.</p>

<p>« ​ Avis ​ » : désigne l’évaluation attribuée par l’utilisateur sur les cinq thèmes composant le Référentiel
  permettant de générer l’Empreinte de l’organisation.</p>

<p>« ​ Conditions générales d’utilisation ​ » ou « ​ CGU ​ » : désigne les présentes conditions générales
d’utilisation.</p>

          <p>« ​ Empreinte ​ » : désigne l’indice de mixité obtenu par l’organisation calculé grâce aux réponses
            apportées dans le Questionnaire confrontées à l’algorithme de Mixity.</p>

  <p>« ​ organisation ​ » : désigne l’organisation qui contracte avec Mixity aux fins de procéder au calcul de
    son Empreinte et dont le Compte Utilisateur est géré par un Administrateur.</p>
  <p>« ​ Fonctionnalité ​ » : désigne les services proposés par la Plateforme plus amplement décrits à
    l’article 5 des CGU.</p>
<p>« ​ Mixity User ​ » : désigne, de manière indifférente, les utilisateurs de la Plateforme : l’Administrateur
  comme l’Utilisateur.</p>
<p>« ​ Plateforme ​ » : désigne la plateforme en ligne éditée par Mixity et disponible sur le lien
  www.mixity.co​</p>
<p>« ​ Questionnaire ​ » : désigne le questionnaire d’auto-évaluation proposé à l’organisation au moment
  de la création de son Compte Utilisateur permettant le calcul de son Empreinte.</p>
<p>« ​ Utilisateur ​ » : désigne tout Utilisateur personne physique, employé de l’organisation ou non, qui
dispose d’un Compte Utilisateur, bénéficie des Fonctionnalités indiquées à l’article 5.2 des présentes
  et accepte les CGU.</p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 2 Accès à la plateforme et acceptation des CGU</strong><br>
            <p>Tel qu’indiqué en Préambule des présentes, l’accès à la Plateforme est réservé à deux catégories de Mixity Users :</p>
          <br>
      <p>   - L’organisation, qui contracte avec Mixity, nomme un Administrateur et dispose d’un
back-office (ci-après, le « ​ Back-office ​ ») géré par un Administrateur ;</p>

<p>   - L’Utilisateur, employé ou non de l’organisation et qui dispose d’un compte utilisateur
(ci-après, le « ​ Compte Utilisateur ​ »).</p>

<p>es présentes concèdent aux Mixity Users un droit d’accès et d’utilisation limité, non-exclusif,
non-transférable et non susceptible de sous-licence, à la Plateforme. Ce droit concédé permet aux
Mixity Users de bénéficier de tout ou partie des Fonctionnalités de la Plateforme pour la durée de
  souscription.</p>
      <br>
<p>Pour accéder aux Fonctionnalités de la Plateforme, les Mixity Users s’engagent à prendre
connaissance des présentes et à les accepter en cochant la case correspondante au moment de leur
inscription. Si les Mixity Users – ou l’organisation, dans le cas où l’Administrateur agissait pour le
compte de l’organisation - n’acceptaient pas les termes des CGU, ils doivent impérativement
s’abstenir de s’inscrire et cesser toute utilisation de la Plateforme comme des Fonctionnalités qui y
sont proposées.</p>
      </p>

          <br>
          <br>
          <p>
            <strong> ARTICLE 3 Inscription à la plateforme</strong><br>
            <p>Pour procéder à son inscription, le Mixity User est invité à se rendre sur le domaine mixity.co. Il est
rappelé au Mixity User que le terminal sur lequel il se connecte comme la connexion Internet
afférente restent à sa charge exclusive et sous sa seule responsabilité. </p>
          <br>
          <table style="width: 100%;" border="1">
            <tr>
              <td>Inscription à la Plateforme de l’Utilisateur</td>
              <td>
                <p>Pour procéder à la création de son Profil, l’Utilisateur est invité à
cliquer sur l’onglet « ​ S’inscrire ​ », situé en haut à droite de la
                  Plateforme.</p>
                <p>L’Utilisateur est invité à indiquer :</p>
                <p>- Son adresse email ;</p>
                <p>- Un mot de passe, à confirmer.</p>
                <p>L’Utilisateur valide l’onglet « ​ Envoyer le mail de vérification ​ ». Une
fois ledit mail de vérification obtenu, il est invité à cliquer sur le
                  lien afférent pour confirmer son inscription.</p>
<p>L’Utilisateur est invité à compléter son Compte Utilisateur en
entrant les informations suivantes :</p>
                <p>- Civilité ;</p>
                <p>- Nom ;</p>
                <p>- Prénom ;</p>
                <p>- Date de naissance ;</p>
                <p>- Numéro de téléphone ;</p>
                <p>- Photographie ;</p>
                <p>- Adresse postale ;</p>
                <p>- Structure ;</p>
                <p>- Société ;</p>
                <p>- Fonction.</p>
              </td>
            </tr>
            <tr>
              <td>Inscription à la Plateforme de l’Administrateur pour le compte de l’organisation</td>
              <td>
                <p>L’organisation est tenue, avant toute procédure d’inscription, de
procéder à la nomination d’un responsable dûment autorisé à
accéder et gérer le Back-office.</p>
                <p>Pour créer le Back-office, l’Administrateur communique les informations suivantes :</p>
                <p>- Son adresse email ;</p>
                <p>- Un mot de passe, à confirmer.</p>
                <p>L’Administrateur valide l’onglet « ​ Envoyer le mail de vérification ​ ».
Une fois ledit mail de vérification obtenu, il est invité à cliquer sur
le lien afférent pour confirmer son inscription.</p>
<p>L’Administrateur est invité à compléter les informations sollicitées
dans le Back-office :</p>
                <p>- Type de structure et raison sociale ;</p>
                <p>- Logo de l’organisation ;</p>
                <p>- Libellé commercial ;</p>
                <p>- Adresse postale ;</p>
                <p>- Téléphone fixe ;</p>
                <p>- Téléphone mobile ;</p>
                <p>- Catégorie de structure ;</p>
                <p>- Effectif ;</p>
                <p>- Numéro de SIRET et TVA intercommunautaire ;</p>
                <p>- Date de création ;</p>
                <p>- Chiffre d’affaires ;</p>
                <p>- Secteur d’activité ;</p>
                <p>- Description de l’activité ;</p>
                <p>- Civilité, prénom, nom, date de naissance et photographie de l’Administrateur.</p>
              </td>
            </tr>
          </table>
        <p>Pour valider leur inscription, les Mixity Users sont invités à lire les CGU et à les valider le cas échéant
en cochant la case afférente. A défaut de validation de son consentement, le Mixity User ne pourra
procéder à la création de son compte, valider son inscription et bénéficier des Fonctionnalités de la
Plateforme.</p>
          <p>
            Une fois les informations communiquées et les CGU validées, l’inscription du Mixity User est validée,
il peut, à sa guise, accéder à son compte et bénéficier des Fonctionnalités.
          </p>
          <p>Le Mixity User peut à tout moment procéder à la modification de ses informations en cliquant sur
l’onglet afférent dans son compte.</p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 4 Engagements du MIXITY USER lors de son inscription</strong><br>
            <p>Lors de son inscription, le Mixity User s’engage à communiquer des informations exactes, sincères,
complètes et à jour et, notamment, une adresse email valide.</p>

            <p>
              Le Mixity User s’engage à maintenir la confidentialité stricte de son identifiant et de son mot de passe
et à ne permettre à aucun tiers d’accéder à son compte qui lui est strictement personnel.
            </p>

            <p>
              La connexion à son compte via les informations communiquées lors de l’inscription à la Plateforme
fait présumer de manière irréfragable un accès et une utilisation des Fonctionnalités par le Mixity
User qui y est seul rattaché. En cas d’accès frauduleux, de modification du mot de passe, ou toute
activité suspecte via ses identifiants, le Mixity User s’engage à en informer immédiatement Mixity, par
email à l’adresse : contact@mixity.co, ou par téléphone au numéro : 06 07 35 78 29, ou par courrier à
l’adresse : Mixity - 6 rue Edouard Nignon 44300 Nantes.
            </p>
          <p>
            Toute inscription frauduleuse à la Plateforme, notamment en utilisant des informations d’un tiers ou
portant atteinte aux droits d’un tiers peut engendrer la suspension et/ou la clôture définitive du
compte.
          </p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 5 Description des fonctionnalités de la plateforme</strong><br>
            <strong>5.1. Fonctionnalités offertes à l'organisation</strong><br>
            <p>En souscrivant à la Plateforme, l’organisation bénéficie des Fonctionnalités suivantes :</p>
          <br>
          <table style="width: 100%;" border="1">
            <tr>
              <td>
                Fonctionnalité
              </td>
              <td>
                Description
              </td>
            </tr>
            <tr>
              <td>Création de l'Empreinte</td>
              <td>
                <p>Pour procéder à la création de l’Empreinte de l’organisation, l’Administrateur est invité à répondre au Questionnaire figurant dans l’onglet « ​ Créer votre Empreinte Mixity ​ » à l’issue de son inscription sur la Plateforme.</p>
                <p>Il s’agit pour l’Administrateur de cocher parmi les réponses
proposées celles qui lui semblent les plus réalistes, étant précisé
qu’il demeure libre de n’y apporter aucune réponse. Toute réponse
erronée n’aura de conséquence que sur la véracité de l’Empreinte
générée. L’Administrateur est tenu d’y répondre de bonne foi.</p>
                <p>
                  Une fois les réponses apportées, l’Empreinte apparaît sous une
forme géométrique unique dont la forme varie en fonction des
réponses apportées à chaque question relative à chacun des
thèmes qui y sont abordés.
                </p>
              </td>
            </tr>
            <tr>
              <td>Rechercher et comparer une Empreinte</td>
              <td>
                <p>L’Administrateur peut gratuitement procéder à la recherche d’Empreintes tierces :</p>
                <p>- En fonction du nom de l’organisation recherchée ;</p>
                <p>- En fonction des organisations présentes dans la région ;</p>
                <p>- En fonction des organisations du secteur</p>
                <p>- En fonction de la taille de l’organisation</p>
                <p>- …</p>
              </td>
            </tr>
            <tr>
              <td>
                Avis
              </td>
              <td>
                <p>L’organisation peut librement décider d’activer ou non la Fonctionnalité « ​ Avis ​ » des Utilisateurs.</p>
                <p>
                  L’organisation est informée que les Avis des Mixity Users :</p>
                <p>- Sont anonymes : à aucun moment, l’Administrateur ne peut identifier le Mixity User à l’origine de l’Avis ;</p>
                <p>- Permettent la « correction » de l’Empreinte, cette dernière prenant les Avis en considération à hauteur de 10 %.</p>

              </td>
            </tr>
            <tr>
              <td>
                Participer à l’évolution de sa propre Empreinte
              </td>
              <td>
                <p>
                  L’organisation pourra participer à l’évolution de sa propre Empreinte, dans le cadre d’une révision annuelle de ses données.
                </p>
              </td>
            </tr>
          </table>
          <br>
        <strong>5.2. Fonctionnalités offertes aux MIXITY USERS</strong><br>
          <br>
          <table style="width: 100%;" border="1">
            <tr>
              <td>
                Fonctionnalité
              </td>
              <td>
                Description
              </td>
            </tr>
            <tr>
              <td>Créer une Empreinte</td>
              <td>
                <p>Si l’Utilisateur représente une organisation, il peut valablement
procéder à la création de l’Empreinte de cette dernière.</p>
                <p>Il devient Administrateur. La création de l’Empreinte s’effectue
dans les mêmes conditions qu’énoncées au ​5.1.Fonctionnalités offertes à l'organisation​ des présentes.</p>
              </td>
            </tr>
            <tr>
              <td>Rechercher une Empreinte</td>
              <td>
                <p>Le Mixity User peut gratuitement procéder à la recherche d’Empreintes :</p>
                <p>- En fonction du nom de l’organisation recherchée ;</p>
                <p>- En fonction des organisations présentes dans la région ;</p>
                <p>- En fonction des organisations du secteur</p>
                <p>- En fonction de la taille de l’organisation</p>
                <p>- …</p>
              </td>
            </tr>
            <tr>
              <td>
                Avis
              </td>
              <td>
                <p>Le Mixity User qui souhaite participer à la coloration de l’Empreinte
d’une organisation ou de sa propre organisation peut librement,
sous réserve d’activation de cette Fonctionnalité, donner des Avis
prenant la forme de curseurs (niveaux de notation) de l’Empreinte.</p>
                <p>
                  Ces Avis sont anonymes et l’organisation comme l’Administrateur
n’a jamais accès à l’identité du Mixity User à l’origine de l’Avis.
Cependant, Mixity se réserve le droit de contacter l’organisation en
cas de constatation d’importantes différences entre sa propre
auto-évaluation dans le Questionnaire et les Avis rendus par les
Mixity Users.</p>

              </td>
            </tr>
            <tr>
              <td>
                Comparer une Empreinte
              </td>
              <td>
                <p>
                  Le Mixity User peut comparer une empreinte avec une autre selon des critères suivants :
                </p>
                <p>En fonction du nom de l’organisation tierce recherchée ;</p>
                <p>- En fonction des organisations présentes dans une zone géographique donnée ;</p>
                <p>- En fonction de la taille de l’organisation,</p>
                <p>- En fonction des organisations du secteur.</p>
                <p>La comparaison de l’empreinte est accessible après paiement selon les prix indiqués à l’article 6.</p>
              </td>
            </tr>
          </table>
      </p>

          <br>
          <br>
          <p>
            <strong> ARTICLE 6 Abonnements et prix</strong><br>
          <p>La mise à disposition de la Plateforme s’effectue par voie d’abonnement :</p>
          <p>(ci-après, pris de manière singulière ou dans leur globalité, le(s) « ​ Abonnement ​ ( ​ s ​ ) »).</p>
          <br>
          <p>Abonnement Mixity Compare</p>
          <p>
            Abonnement Payant - 69€ /mois TTC - par utilisateur
          </p>
          <p>Principales fonctionnalités</p>
          <p>Comparaison d’empreinte - illimité</p>

          <p>Abonnement Mixity organisation</p>
          <p>
            Payant sur demande
          </p>
          <p>Compte organisation - validité : 1 an</p>
          <p>Création d’un compte organisation</p>
          <p>Accès au questionnaire Mixity</p>
          <p>Création de votre empreinte organisation</p>

          <br>
          <p>Les montants et les contenus de chacun des Abonnements sont définis dans le Contrat d’accord.</p>

       </p>


          <br>
          <br>
          <p>
            <strong>ARTICLE 7 Durée</strong><br>
            <p>L’Abonnement prend effet à compter de la signature du Contrat d’accord pour l’organisation ou à
          compter de l’inscription pour l’Utilisateur.</p>
            <p>Il est conclu pour une durée indéterminée, chacune des Parties pouvant y mettre fin dans les
conditions précisées à l’article 9 des CGU.</p>

      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 8 Rétractation</strong><br>
            <p>Aucun droit de rétractation n’est reconnu à l’organisation qui souscrit à un Abonnement en qualité de
professionnel au sens de l’article liminaire du Code de la consommation, comme à l’Administrateur
gérant le Back-office. De même, aucun droit de rétractation n’est reconnu à l’Utilisateur qui
souhaiterait procéder à la création de l’Empreinte de son organisation et deviendrait Administrateur.</p>
            <p>Aucun droit de rétractation n’est reconnu au Mixity User qui souscrit à une Abonnement de
comparaison d’empreinte selon les conditions de délai indiqués dans la rubrique abonnement et
tarifs.</p>
          <p>
            Enfin, en souscrivant à la Plateforme et en validant les CGU, l’Utilisateur consent à ce que le contenu
numérique des Fonctionnalités proposées par la Plateforme lui soit immédiatement fourni et renonce
de ce fait à son droit de rétractation, conformément aux dispositions de l’article L. 221-28 du Code
de la consommation.
          </p>

      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 9 Résiliation de l'organisation</strong><br>
          <p>
          L’organisation peut procéder à la résiliation de son Abonnement par courrier recommandé avec
          demande d’avis de réception, moyennant le respect d’un préavis de deux (2) mois.</p>
          <p>L’Empreinte précédemment générée par la Plateforme pourra, sur demande de l’organisation, être
supprimée des bases de données de Mixity.</p>
          <p>En cas de manquement grave et/ou répété de Mixity aux obligations prévues aux présentes non
réparé dans un délai de trente (30) jours calendaires à compter d’une mise en demeure d’y remédier
notifiée par lettre recommandée avec demande d’avis de réception, l’organisation pourra prononcer
de plein droit la résiliation des présentes, sans préjudice de tous dommages et intérêts auxquels elle
pourrait prétendre.
        </p>
            <p>En cas de manquement grave et/ou répété par l’organisation aux obligations prévues aux présentes,
et notamment au paiement de l’Abonnement, non réparé dans un délai de trente (30) jours
calendaires à compter d’une mise en demeure d’y remédier notifiée par lettre recommandée avec
demande d’avis de réception, Mixity pourra prononcer de plein droit la résiliation des présentes, sans
préjudice de tous dommages et intérêts auxquels elle pourrait prétendre.</p>

      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 10 Désinscription de l'utilisateur</strong><br>
          <p>
          Le Mixity User peut, à tout moment, procéder à sa désinscription de la Plateforme, en écrivant à
Mixity à l’adresse : ​ contact@mixity.co ou directement depuis son compte, en se rendant sur l’onglet
« [​ --​ ] ». Il est entendu qu’en cas de désinscription, les factures à échoir restent dues à Mixity.</p>
          <p>La désinscription de la Plateforme n’empêche pas de solliciter la création d’un nouveau compte et
l’utilisation de nouveau des Fonctionnalités, étant précisé que les informations précédemment
chargées sur la Plateforme ne seront pas récupérées.</p>
          <p>Toutes les limitations de garantie et de responsabilité prévues aux présentes CGU resteront en
vigueur après la désinscription ou résiliation des présentes.
        </p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 11 Responsabilité</strong><br>
          <p>
          Mixity est soumise à une obligation de moyens, compte tenu de l’état de l’art en usage dans sa
profession et s’engage à apporter tout le soin raisonnablement requis à l’exécution de ses
obligations.</p>
          <p>Mixity indique au Mixity User et à l’organisation qu’elle ne saurait aucunement être responsable en
cas d’indisponibilité des Fonctionnalités et de la Plateforme qui résulterait de la survenance d’un cas
de force majeure telle que définie à l’article 1218 du Code civil. Dans ce cas, Mixity informera le
Mixity User et l’organisation de ce cas de force majeure et fera ses meilleurs efforts pour en limiter les
conséquences afin qu’ils soient en mesure d’utiliser les Fonctionnalités une fois le cas de force
majeure résolu. Il est convenu que l’exécution des obligations au titre du Contrat d’accord et des
présentes CGU est suspendue tant que perdure le cas de force majeure. Toutefois, si l’impossibilité
d’exécuter ou le retard dans l’exécution se poursuivait au-delà d’une période de deux (2) mois à
compter de la notification susvisée, chacune des Parties pourra résilier le Contrat d’accord avec effet
immédiat par notification écrite, sans qu’aucune des Parties ne puisse prétendre à une quelconque
indemnité.</p>
          <p>En outre, Mixity rappelle au Mixity User et à l’organisation les caractéristiques et limites d’Internet et
du réseau :
        </p>
          <p>- il est recommandé de se munir d’une connexion rapide à Internet. Mixity n’est pas
responsable des lenteurs de chargement ou de téléchargement dues au réseau Internet
            ou à la fourniture de l’accès Internet du Mixity User par son fournisseur ;</p>
          <p>- Mixity n’est pas en mesure de garantir une continuité des Fonctionnalités exécutées via
Internet, ce que le Mixity User comme l’organisation reconnaissent expressément par les
  présentes ;</p>
          <p>- toute opération effectuée via la Plateforme (les téléchargements, la consultation,
            l’utilisation) peut nécessiter des temps de réponse ;</p>
          <p>- l’accès et l’utilisation d’Internet nécessaires à l’usage de la Plateforme nécessitent de se
conformer impérativement à la législation applicable dans le pays où les informations
sont émises ou consultées. En outre, l’émission d’informations via le réseau Internet
depuis le territoire français est soumise à une réglementation spécifique à laquelle le
Mixity User doit nécessairement se référer ;
          </p>
          <p>- en outre, les données qui circulent sur Internet et les canaux de réseau ne sont pas
toujours protégées contre les détournements et les virus. Aussi, toute communication de
mots de passe, codes confidentiels comme toute information à caractère sensible est
effectuée par le Mixity User sous sa seule responsabilité et à ses risques et périls.
          </p>
          <p>
            En outre, Mixity ne saurait aucunement être responsable de la bonne ou mauvaise exécution des
Fonctionnalités proposées par la Plateforme, dans les limites définies par les CGU.
          </p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 12 Propriété intellectuelle</strong><br>
          <p>
          Mixity est soumise à une obligation de moyens, compte tenu de l’état de l’art en usage dans sa
profession et s’engage à apporter tout le soin raisonnablement requis à l’exécution de ses
obligations.</p>
          <p>Mixity indique au Mixity User et à l’organisation qu’elle ne saurait aucunement être responsable en
cas d’indisponibilité des Fonctionnalités et de la Plateforme qui résulterait de la survenance d’un cas
de force majeure telle que définie à l’article 1218 du Code civil. Dans ce cas, Mixity informera le
Mixity User et l’organisation de ce cas de force majeure et fera ses meilleurs efforts pour en limiter les
conséquences afin qu’ils soient en mesure d’utiliser les Fonctionnalités une fois le cas de force
majeure résolu. Il est convenu que l’exécution des obligations au titre du Contrat d’accord et des
présentes CGU est suspendue tant que perdure le cas de force majeure. Toutefois, si l’impossibilité
d’exécuter ou le retard dans l’exécution se poursuivait au-delà d’une période de deux (2) mois à
compter de la notification susvisée, chacune des Parties pourra résilier le Contrat d’accord avec effet
immédiat par notification écrite, sans qu’aucune des Parties ne puisse prétendre à une quelconque
indemnité.</p>
          <p>En outre, Mixity rappelle au Mixity User et à l’organisation les caractéristiques et limites d’Internet et
du réseau :
        </p>
          <p>- il est recommandé de se munir d’une connexion rapide à Internet. Mixity n’est pas
responsable des lenteurs de chargement ou de téléchargement dues au réseau Internet
            ou à la fourniture de l’accès Internet du Mixity User par son fournisseur ;</p>
          <p>- Mixity n’est pas en mesure de garantir une continuité des Fonctionnalités exécutées via
Internet, ce que le Mixity User comme l’organisation reconnaissent expressément par les
  présentes ;</p>
          <p>- toute opération effectuée via la Plateforme (les téléchargements, la consultation,
            l’utilisation) peut nécessiter des temps de réponse ;</p>
          <p>- l’accès et l’utilisation d’Internet nécessaires à l’usage de la Plateforme nécessitent de se
conformer impérativement à la législation applicable dans le pays où les informations
sont émises ou consultées. En outre, l’émission d’informations via le réseau Internet
depuis le territoire français est soumise à une réglementation spécifique à laquelle le
Mixity User doit nécessairement se référer ;
          </p>
          <p>- en outre, les données qui circulent sur Internet et les canaux de réseau ne sont pas
toujours protégées contre les détournements et les virus. Aussi, toute communication de
mots de passe, codes confidentiels comme toute information à caractère sensible est
effectuée par le Mixity User sous sa seule responsabilité et à ses risques et périls.
          </p>
          <p>
            En outre, Mixity ne saurait aucunement être responsable de la bonne ou mauvaise exécution des
Fonctionnalités proposées par la Plateforme, dans les limites définies par les CGU.
          </p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 13 Données à caractère personnel</strong><br>
          <p>
          Mixity, très soucieuse de la sécurité des traitements opérés sur les données à caractère personnel de
ses Mixity Users via la Plateforme, s’engage à assurer la conformité des traitements qu’elle opère en
qualité de responsable de traitement comme de sous-traitant, conformément à la loi n°2018-93 du 20
juin 2018 relative à la protection des données personnelles, qui a modifié la loi n°78-17 du 6 janvier
1978 relative à l’informatique, aux fichiers et aux libertés, ainsi que le Règlement (UE) 2016/679 du
Parlement et du Conseil en date du 27 avril 2016.</p>
          <p>Pour connaître les modalités de gestion de ses données à caractère personnel, le Mixity User est
invité à consulter directement la Politique de confidentialité disponible sur le lien suivant : https://staging.mixity.co/confidentialite/</p>
          <p>En outre, Mixity rappelle au Mixity User et à l’organisation les caractéristiques et limites d’Internet et du réseau :
        </p>
          <p>- il est recommandé de se munir d’une connexion rapide à Internet. Mixity n’est pas
responsable des lenteurs de chargement ou de téléchargement dues au réseau Internet
            ou à la fourniture de l’accès Internet du Mixity User par son fournisseur ;</p>
          <p>- Mixity n’est pas en mesure de garantir une continuité des Fonctionnalités exécutées via
Internet, ce que le Mixity User comme l’organisation reconnaissent expressément par les
  présentes ;</p>
          <p>- toute opération effectuée via la Plateforme (les téléchargements, la consultation,
            l’utilisation) peut nécessiter des temps de réponse ;</p>
          <p>- l’accès et l’utilisation d’Internet nécessaires à l’usage de la Plateforme nécessitent de se
conformer impérativement à la législation applicable dans le pays où les informations
sont émises ou consultées. En outre, l’émission d’informations via le réseau Internet
depuis le territoire français est soumise à une réglementation spécifique à laquelle le
Mixity User doit nécessairement se référer ;
          </p>
          <p>- en outre, les données qui circulent sur Internet et les canaux de réseau ne sont pas
toujours protégées contre les détournements et les virus. Aussi, toute communication de
mots de passe, codes confidentiels comme toute information à caractère sensible est
effectuée par le Mixity User sous sa seule responsabilité et à ses risques et périls.
          </p>
          <p>
            En outre, Mixity ne saurait aucunement être responsable de la bonne ou mauvaise exécution des
Fonctionnalités proposées par la Plateforme, dans les limites définies par les CGU.
          </p>
      </p>

          <br>
          <br>
          <p>
            <strong>ARTICLE 14 Litiges et droit applicable</strong><br>
          <p>
          Si l’une des dispositions des CGU s’avérait nulle, non opposable, contraire à la législation ou non
applicable pour quelque raison que ce soit, il est convenu que la clause litigieuse ne pourra altérer les
autres qui conservent leur plein effet.</p>
          <p>Toute difficulté relative à l’exécution, l’interprétation ou la validité des CGU est soumise à la loi
française et aux tribunaux compétents dans les conditions du droit commun et du Code de
procédure civile.</p>
          <p>Le Mixity User comme l’organisation sont invités à s’adresser à Mixity en priorité pour la recherche
d’une solution amiable, en écrivant à l’adresse suivante : Mixity SAS - 6 rue Edouard Nignon 44300
Nantes. Toutes les recherches de solutions amiables seront favorablement accueillies par Mixity.
        </p>
          <br>
          <p><strong>Dernière version des CGU : 2 avril 2019</strong></p>

      </p>

        </div>
        </div>
      </div>
    </article>
  </section>
</div>
{% endblock %}

