{% extends "base.html" %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}

<section class="container bg--gradient full-height">
  <div class="profile">
    <div class="profile__left">
      <div class="profile__image">
        {% if user.foto %}
          <div class="profile__image">
            <img src="{{ user.foto.url }}" alt="Photo de profil" />
          </div>
        {% else %}
          <div class="profile__image profile__image--empty">
            <i class="fas fa-user"></i>
          </div>
        {% endif %}
      </div>
      <a href="{% url 'user:profile_update' %}" class="button button--primary-dark button--sm button--circle">
        <i class="fas fa-pen"></i> modifier vos informations
      </a>
    </div>
    <div class="profile__right">
      <h1 class="profile__title">Mes informations</h1>

      <article class="card">
        <h2 class="title--h2">Mes informations personnelles</h2>
        <p>
          <strong>{% if user.gender == 'F' %}Mme{% elif user.gender == 'M' %}M.{% endif %} {{user.last_name|default:''}} {{user.first_name|default:''}}</strong><br>
          {% if user.commercial_name and user.company %} {{user.commercial_name}} à {{user.company}}{% endif%}
        </p>
        <p>
          Addresse :
          {{user.address|default:''}} {{user.zipcode|default:''}} {{user.city|default:''}} {{user.region|default:''}} {{user.country|default:''}}<br>
          Téléphone : {{user.phone|default:''}}<br>
          Email : {{user.email|default:''}}<br>
        </p>

        <p>Naissance : {{user.birthday|default:''}}</p>

      </article>
    </div>
  </div>
</section>

{% endblock %}