{% extends "base.html" %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}

<section class="container bg--gradient">
  <div class="profile">
    <div class="profile__left">
      {% if object.foto %}
        <div class="profile__image">
          <img src="{{ object.foto.url }}" alt="Photo de profil" />
        </div>
        <label for="id_foto" class="button button--primary-dark button--sm button--circle">
          <i class="fas fa-pen"></i> Editer l'image
        </label>
      {% else %}
        <div class="profile__image profile__image--empty">
          <i class="fas fa-user"></i>
        </div>
        <label for="id_foto" class="button button--primary-dark button--sm button--circle">
          <i class="fas fa-pen"></i> Ajouter une image
        </label>
      {% endif %}

    </div>
    <div class="profile__right">
      <h1 class="profile__title">Modifier vos informations personnelles</h1>
      <article class="{% if user.is_organisation %}card__organisation bg--gradient-secondary-dark{% else %}card{% endif %}">

        {% include 'includes/form.html' with form=form action_url="user:structure_update" submit="Enregistrer" method="post" %}

      </article>
    </div>
  </div>
</section>

{% endblock %}

