{% extends "base.html" %}
{% load i18n static %}
{% load bootstrap4 %}

{% block content %}

<section class="container bg--gradient">
  <div class="profile">
    <div class="profile__left">
      {% if object.logo %}
        <div class="profile__image">
          <img src="{{ object.logo.url }}" alt="Photo de profil" />
        </div>
        <label for="id_foto" class="button button--primary-dark button--sm button--circle">
          <i class="fas fa-pen"></i> Editer l'image
        </label>
      {% else %}
        <div class="profile__image profile__image--empty">
          <i class="fas fa-user"></i>
        </div>
        <label for="id_foto" class="button button--primary-dark button--sm button--circle">
          <i class="fas fa-pen"></i> Ajouter une image
        </label>
      {% endif %}
    </div>
      <a href="{% url 'user:structure_update' %}" class="button button--primary-dark button--sm button--circle">
        <i class="fas fa-pen"></i> modifier les informations de la Structure
      </a>
  </div>
</section>

{% endblock %}
